/*
 *  Footer
 */

footer .row {
	max-width: 95%;

	.columns {
		margin-left: 1em auto 0;
		font-size: 0.75em;

		s {
		    text-decoration: none;
		    margin-left: -1.25em;
		    margin-right: 0.25em;
		    display: inline-block;
		    width: 1em;
		    text-align: center;
		}
	}

	@media #{$medium-only} {
		max-width: 95%;
	}

	@media #{$small-only} {
		max-width: 95%;
	}
}




