/*
 *  Header & nav
 */

header {
	background-color: $primary-color;
	height: $header-height-large;
	width: 100%;
	margin-bottom: 20px;

	&.show_nav {
		transition: all 0.25s linear;
	}

	.logo {
		background: url(../img/cbl_logo.png) center center no-repeat scroll;
		background-size: 100% auto;
		width: 230px;
		height: $header-height-large;
		display: block;

		body.ie8 & {
			background: url(../img/cbl_logo_230.png) center center no-repeat scroll;
		}

		@media #{$medium-only} {
			width: 3.6*$header-height-medium;
			height: $header-height-medium;

			body.ie8 & {
				background: url(../img/cbl_logo_180.png) center center no-repeat scroll;
			}
		}

		@media #{$small-only} {
			width: 3.6*$header-height-small;
			height: $header-height-small;

			body.ie8 & {
				background: url(../img/cbl_logo_180.png) center center no-repeat scroll;
			}
		}

	}

	.hamburger {
		text-decoration: none;
		color: #FFF;

		&:after {
			content: "\e236";
			font: normal 24px/1em 'glyphicons halflings';
			line-height: $header-height-small;
		}
	}

	nav {
		ul {
		    margin: 0;
		    padding: 0;
		    display: block;
		    list-style: none;
		    z-index: 9;
		    font-size: 0.85em;

		    li {
		    	margin: 0;
		    	padding: 0;
		    	display: inline-block;
		    	list-style: none;

		    	&:hover {
		    		a {
		    			color: #FFF;
		    			text-decoration: none;
		    			background-color: lighten($primary-color, 10%);
		    		}

		    		ul {
		    			display: block;
		    		}
		    	}

		    	a {
		    		line-height: $header-height-large;
		    		text-align: center;
		    		display: block;
		    		color: #FFF;
		    		text-decoration: none;
		    		padding: 0 20px;
		    	}

		    	/* Subnav */
		    	ul {
		    		background-color: lighten($primary-color, 10%);
		    		display: none;
		    		position: absolute;
		    		width: auto;
		    		max-width: 250px;
		    		z-index: 9;

		    		li {
		    			width: 100%;
		    			text-align: left;
		    			z-index: 9;

		    			&:hover {
		    				a {
		    					background-color: lighten($primary-color, 20%);
		    				}
		    			}

		    			a {
		    				line-height: $header-height-large/2;
		    				width: 100%;
		    				text-align: left;
		    			}
		    		}
		    	}
		    }
		} /* nav ul */

		&.mobile {
			display: block;
			position: absolute;
			top: $header-height-small;
			right: 0;
			z-index: 999;
			width: 100%;

			ul {
				background-color: darken($primary-color, 5%);

				li {
					display: block;

					a {
						text-align: left;
						line-height: 50px;
					}

					&:hover ul { display: none; }
				}
			}
		}
	} /* nav */





	/* Medium (1024 - 1200) */
	@media #{$medium-only} {
		height: $header-height-medium;

		nav {
			ul {
				font-size: 0.75em;

				li {
					a {
						padding: 0 10px;
						line-height: $header-height-medium;
					}

					ul {
						font-size: 1em;
						max-width: 180px;
					}
				}
			}
		}
	}




	/* Small (640-1024) */
	@media #{$small-only} {
		height: $header-height-small;

		&.show_nav {
			margin-bottom: $header-height-small + 20;
		}

		.hamburger:after {
			line-height: $header-height-small;
		}

		nav {
			display: none;
		}
	}

} /* header */








