/*
 *  Sidebar
 */

.breadcrumbs-nav-wrapper {

	body.ie8 & {
		margin-left: 32px;
	}

	.breadcrumbs-nav-track {
		@include opacity(0);
		border-left: 2px #999 solid;
		position: relative;
		margin-top: 23px;
		height: 0;
		transition: all 1s;

		&.show {
			@include opacity(1);
			height: 126px;
		}

		@media #{$small-only} {
			display: none;
		}
	}

	.breadcrumbs-nav {
		list-style: none;
		padding: 0;
		margin: 0;
		height: 180px;
		width: 100%;
		display: block;
		position: relative;
		margin: -154px -2px 0 0;

		@media #{$small-only} {
			display: block;
			position: static;
			margin: 10px 0 0 0;
			height: auto;
		}

		li {
			@include opacity(0);
			width: 100%;
			display: block;
			padding: 0 0 0 24px;
			margin: 0;
			height: 36px;
			line-height: 36px;
			color: #999;
			font-size: 9pt;
			transition: all 0.5s ease-in;

			.circle {
				height: 18px;
				width: 18px;
				border-radius: 50%;
				background-color: #F5F5F5;
				border: 2px #999 solid;
				position: absolute;
				margin: 10px 0 0 -32px;

				body.ie8 & {
					background-image: url(../img/white_circle_18.png);
					background-color: transparent;
					border: 0 transparent solid;
				}
			}

			&.show {
				@include opacity(1);
			}

			&.complete {
				color: #12935a;
				font-size: 10.5pt;
				font-weight: bold;

				.circle {
					border-color: #12935a;

					body.ie8 & {
						background-image: url(../img/white_circle_18.png);
						background-color: transparent;
						border: 0 transparent solid;
					}
				}

				.circle:after {
					content: "\e013";
					display: block;
					position: absolute;
				    font-family: 'glyphicons halflings';
				    font-size: 10px;
				    margin: -7px 0 0 6px;
				}
			}

			&.in-progress {
				color: $cbl-orange;
				font-size: 10.5pt;
				font-weight: bold;

				.circle {
					border-color: $cbl-orange;

					body.ie8 & {
						background-image: url(../img/white_circle_18.png);
						background-color: transparent;
						border: 0 transparent solid;
					}
				}

				.circle:after {
					content: "\270f";
					display: block;
					position: absolute;
				    font-family: 'Glyphicons Halflings';
				    font-size: 13px;
				    margin: -7px 0 0 5px;
				}
			}

			&.complete, &.in-progress {
				text-shadow: 0 0 4px #FFF;

				.circle {
					background-color: #FFF;
					height: 26px;
					width: 26px;
					margin: 5px 0 0 -37px;
				}

				body.ie8 & {
					text-shadow: 0 0 0 transparent;
					
					.circle {
						background-image: url(../img/white_circle_26.png);
						background-color: transparent;
						border: 0 transparent solid;
					}
				}
			}

			@media #{$small-only} {
				$mobile-font-size: 7.5pt;

				width: 19%;
				display: inline-block;
				padding: 0;
				margin: 0;
				height: 60px;
				text-align: center;
				overflow: hidden;
				font-size: $mobile-font-size;
				line-height: $mobile-font-size;
				transition: all 0.5s linear;
				vertical-align: top;
			
				&.complete,
				&.in-progress {
					font-size: $mobile-font-size;
					transition: all 0.5s linear;
				}
				
				.circle,
				&.complete .circle,
				&.in-progress .circle {
					position: static;
					margin: 0 auto -6px;
					height: 32px;
					width: 32px;
					transition: height,width 0.5s linear;

					&:after {
						margin: -5px 0 0 6px;
						font-size: 15px;
					}

					@media #{$small-only} {
						margin: 0 auto 2px;

						&:after {
							margin: 8px 0 0 6px;
						}
					}
				}
			} /* @media $small-only */

		}
	} /* .breadcrumbs-nav */
} /* .breadcrumbs-nav-wrapper */



@media #{$small-only} {
	.sidebar {
	    position: absolute;
	    top: $header-height-small;
	    left: 0;
	    float: none;
	}
}


