/*
 *  Main CSS
 */

@import 'settings';
@import 'vendor/foundation/scss/normalize.scss';
@import 'vendor/foundation/scss/foundation.scss';
@import 'mixins';
@import 'fonts';
@import 'header';
@import 'sidebar';
@import 'footer';


/*
 *  Main layout styles
 */

body {
	background-color: $secondary-color;
	margin: 0;
}

a {
	text-decoration: underline;
	color: lighten($primary-color, 20%);
}

h1, h2, h3 {
	font-weight: bold;
}

.single-page {
	display: none;
    background-color: #FFF;
    padding: 10px 20px;
    border: 1px #DDD solid;
    box-shadow: 0 3px 3px #DDD;
}

.ie8-only {
	display: none;

	body.ie8 & {
		display: block;
	}
}

body.ie8 form .row .columns label {
	width: 98%;
	margin: 0 2% 0 0;

	&.inline {
		width: auto;
		margin: 0;
	}
}


small {
	&.error {
		display: none;
	}

	&.info {
	    bottom: 16px;
	    position: relative;
	    color: $info-color;
	    font-size: 9.5pt;
	    display: block;
	    line-height: 1.25em;
	    margin: 0.5rem 0 0 20px;

	    &:before {
	    	content: "\e101";
		    position: absolute;
		    color: $info-color;
		    font: normal 16px/16px 'glyphicons halflings';
		    margin: 0 0 0 -20px;
	    }
	}

	body.ie8 & {
		&.info {
			padding-top: 0.5em;
			padding-bottom: 1em;
			padding-left: 20px;
	    	position: static;
	    }
    }
}


label {
	&.bigger {
		font-size: 0.95em;
	}

	&.with-arrow {
		&:after {
			content: '\e252';
			display: block;
			position: absolute;
			font: 13px/13px 'glyphicons halflings';
			right: 6%;
			top: 35%;
			color: #999;
		}

		&.selected:after {
			color: lighten($primary-color, 35%);
		}
	}

	@media #{$small-only} {
		&.inline {
			margin: 0;
		}
	}
}

.debug-console {
	position: fixed;
	bottom: 0;
	margin: 1%;
	width: 98%;
	font: 12px/16px 'Courier New';
	max-height: 120px;
	overflow: auto;
	word-wrap: break-word;
}

.label-link {
	font-size: 9pt;
	position: absolute;
	margin-top: -2em;

	@media#{$small-only} {
		margin-top: -2em;
	}

	body.ie8 & {
		position: static;
	}
}

.hidden-input {
	height: 0px;
	width: 0px;
	overflow: hidden;
	@include opacity(0);
}

.buffer {
	padding: 10px 0;
	&.huge { padding: 80px 0; }
}

#how_much_placeholder {
	-webkit-touch-callout: none !important;
	@include button-style($secondary-color, false, false, $secondary-color);
}

.white-bg {
	background-color: #FFF;
}

.testimonials {
	box-shadow: inset 0 3px 7px rgba(0, 0, 0, .3);
}

.sidebar-buffer {
	height: 95px;

	&.off {
		height: 20px;
	}
}


.question-mark {
	&:after {
		font-style: normal;
		content: '\e085';
		display: block;
		font: 14px/17px 'glyphicons halflings';
		text-align: center;
		width: 100%;
	}
}


[data-rate-table] {
	border: 1px #999 solid;
	border-collapse: inherit;

	[data-rate-id] {
		cursor: pointer;

		&:hover {
			background-color: #e0e0e0;
			color: #000;
		}

		&.selected, &.selected:hover {
			background-color: $primary-color;

			td {
				color: #FFF;
				font-weight: bold;
			}

			&:after {
			    content: "\e013";
			    position: absolute;
			    color: #FFF;
			    font: normal 11px/11px 'glyphicons halflings';
			    margin: 12px 0 0 -18px;
			}
		}
	}
}

[data-abide] .error small.error,
[data-abide] .error span.error,
[data-abide] span.error,
[data-abide] small.error {
	background-color: $alert-color;
    font-style: normal;
    padding: 1px 5px;
    border-radius: 0 0 4px 4px;
    font-size: 8pt;
}


.button-group,
.button-group.even-2,
.button-group.even-3,
.button-group.even-4,
.button-group.even-5,
.button-group.even-6 {
	$border-style: 1px #c2c2c2 solid;

	margin-bottom: 0.75em;
	border-top: $border-style;

	li {
		.button {
		    font-size: 12px;
		    border-bottom: $border-style;
		    border-left: $border-style;
		    border-right: 0px transparent solid;
		}

		&:first-of-type .button {
	    	border-left: $border-style;
	    }

	    &:last-of-type .button {
	    	border-right: $border-style;
	    }
	}

	&.toggle li {
		margin: 0;
		padding: 0;

		input[data-toggle] {
			display: none;

			&:checked + .button {
				background-color: $primary-color;
				color: #FFF;
				font-weight: bold;

				small {
					color: #FFF;
					font-weight: bold;
				}
			}
		}

		.button {
			margin: 0;
			padding: 1em 0;
		    font-weight: bold;
		    overflow: hidden;

		    &:hover, &.hover {
		    	cursor: pointer;
		    	background-color: darken(#EEE, 15%);
		    }

		    &.selected { // same as &.toggle li &:checked + .button
		    	background-color: $primary-color;
				color: #FFF;
				font-weight: bold;

				small { color: #FFF; }
		    }

		    .button-group-small li & {
		    	font-size: 12px;
		    }

			small {
			    display: block;
			    color: #333;
			    font-size: 12px;
			    margin: 4px 0 0 0; 
			}
		}

		.button-select {
			@include opacity(0);
			margin: 0;
			padding: 0;
			max-width: 33%;
			z-index: 9;
			position: absolute;
			cursor: pointer;
		}
	}

	@media #{$small-only} {
		margin: 0 0 1rem 0;

		&.toggle.what-is-it-for .button {
			min-height: 59px;
			padding: 1em;
		}
	}

	body.ie8 & {
		li {
			border: 0 transparent solid !important;
			input { border: 0 transparent solid !important; }
			label { border: 1px $primary-color solid !important; }
		}
	}

} /* .button-group */



.hero {
	background-color: #333;
	background-image: url(../img/hero_bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center 20%;
	max-width: 100%;
	width: 100%;
	margin-top: -20px;

	@media #{$large-up} {
    	background-size: unset;
    }

	@media #{$medium-only} {
    	background-size: 210% auto;
    	background-position: center 30%;
    }

	@media #{$small-only} {
    	background-size: auto 100%;
    	background-position: center center;
    }

	.row {
		max-width: $row-width;
		margin: 0 auto;
	}

	.cta-form {
		background-color: #FFF;
		background: -moz-linear-gradient(top,  rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.9) 100%);
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.9) 100%);
		background: linear-gradient(to bottom,  rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.9) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ffffff', endColorstr='#e6ffffff',GradientType=0 );
		padding: 10px;
		border: 1px #DDD solid;
	    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
	    margin: 1em auto 10em;

	    @media #{$small-only} {
	    	margin: 0 -1.5em 0.5em;
	    	box-shadow: 0 0 0 transparent;
	    	padding: 0.5em;
	    }
	}
}


















